
div.content {
    text-align: center;
    border: solid black 4px;
    background-color: lightblue;
    min-height: 400px;
    font-family: "Noto Sans", sans serif;
}

h2.title-name {
    font-size: 40px;
}

div.subtitle-content {
    text-align: center;
}

span {
    padding-left:10px;
}